.image{
    height: 70px;
}
body{
    text-align: center;
    background-image : url(Images/Fondnoir.jpg);
    
}
h1 {color: rgb(240, 6, 6);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {color:rgb(255, 255, 255);
}
h2 {color:rgb(25, 198, 198);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3 {color:rgb(128, 241, 15);
}
